* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.footer {
  background-color: #020508;
  color: #fff;
  padding: 1rem 1.5rem;
  position: relative;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #9f3b32, transparent);
  opacity: 0.8;
}

.footer-container {
  display: flex;
  .footer:hover {
    opacity: 1;
  }
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90px;
  line-height: 90px;
 }

/* === Logo section === */
.footer-logo {
  width: 270px;
  height: auto;
  .footer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #9f3b32, transparent);
    opacity: 0.8;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
  .footer-container {
    position: relative;
    z-index: 2;
  }
  transition: transform 0.3s ease;
}

.footer-logo img:hover {
  transform: scale(1.05);
}


/* === Social icons === */
.footer-socials {
  flex: 1 1 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-socials a {
  color: white;
  font-size: 1.6rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-socials a:hover {
  transform: scale(1.2);
  opacity: 0.8;
  .footer-socials {
    justify-content: flex-end;
  }
  color: #9f3b32;
}

/* === Responsive === */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-socials {
    flex: 1 1 250px;
    display: flex;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }
  .footer-socials a {
    color: white;
    font-size: 2.5rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .footer-socials a:hover {
    transform: scale(1.2);
    opacity: 0.8;
    color: #9f3b32;
  }
}
