* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* === Header === */
.header {
  background-color: transparent;
  color: #fff;
  padding: 1rem 1.5rem;
  position: relative;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  }

.header:hover {
    opacity: 1;
  }

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #9f3b32, transparent);
  opacity: 0.8;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90px;
  line-height: 90px;
}

/* === Logo === */
.header-logo {
  width: 270px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.header-logo img {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
  transition: transform 0.3s ease;
}
.header-logo img:hover {
  transform: scale(1.05);
}
.mobile-socials {
  display: none; 
}  

/* === Menu === */
.menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  transition: all 0.3s ease;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu a:hover {
  color: #9f3b32;
  transform: translateY(-2px);
}

/* === Burger === */
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2000;
  position: relative;
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* === Анімація бургер → хрестик === */
.burger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


/* === Mobile === */
@media (max-width: 768px) {
  .burger {
    display: flex;
    width: 30px;
    height: 22px;
  }

  .burger span {
    display: flex;
    height: 3px;
    background-color: #9f3b32;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .menu {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: rgba(2, 5, 8, 0.98);
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: 1500;
  }

  .menu a {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .menu.active {
    transform: translateY(0);
    opacity: 1;
  }

  body.no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  .mobile-socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem
  }

  .mobile-socials a {
    color: #9f3b32;
    font-size: 2rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .mobile-socials a:hover {
    transform: scale(1.2);
    color: white;
    opacity: 0.8;
  }
}

