@import url("style.css");
@import url("header.css");
@import url("footer.css");
@import url("main-container.css");

.video-carousel {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.video-wrapper {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.8s ease, transform 0.8s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-wrapper.active {
  opacity: 1;
  transform: scale(1);
  position: relative;
}

.video-title {
  color: #9f3b32;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.video-wrapper iframe {
  width: 100%;
  max-width: 720px;
  height: 405px;
  border-radius: 12px;
}

/* Кнопки */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #9f3b32;;
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: background 0.3s ease;
  z-index: 10;
}

.carousel-btn:hover {
  background: rgba(240, 176, 53, 0.9);
}

.carousel-btn.prev {
  left: 20px;
}

.carousel-btn.next {
  right: 20px;
}

/* Адаптив */
@media (max-width: 768px) {
  .video-wrapper iframe {
    width: 100%;
    height: 220px;
  }

  .carousel-btn {
    font-size: 1.5rem;
    padding: 0.3rem 0.7rem;
  }
}
